.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
}

.box__title {
    text-align: center;
}

.box__postilas {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    position: relative;
}

.postila__titulo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
}

.postila__card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
}

.postila__img {
    height: 157px;
    width: 150px;
    margin: 10px;
}




/* CELULAR */
@media only screen and (min-width: 480px) {
   
}


/* TABLETE */

@media only screen and (min-width: 670px) {
    .box__postilas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px;
        flex-wrap: wrap;
        width: 50%;
    }

    .postila__card{
        display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    text-align: center;
    }


}

@media only screen and (min-width: 960px) {

}


/* DESKTOP */

@media only screen and (min-width: 1200px) {

}