html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  font-size: 10px;
}



.hitoria {
    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.historia__titulo {
    padding: 10px;
}

.historia__item{
  margin: 2rem;
  padding: 5px;
  font-size: 17px;
  white-space: pre-wrap;
    
}



 .time{
  background-color:  #E0B0FF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.time__titulo{
  color: white;
  padding: 10px;
    margin: 15px;
}

.time__titulo{
  color: white;
  padding: 10px;
    margin: 15px;
}



.time__historia{
  font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1.2rem;
line-height: 1.5rem;
text-align: center;
letter-spacing: -0.015rem;
color: rgba(255, 255, 255, 0.8);
width: 100%;
padding: 1rem;
}


.box__img img  {
  border-radius: 50%;
  text-align: center !important;
  width: 200px;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}


.box__img{ 
  text-align: center;

}

.time__individual{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 15px;
  width: 100%;
  align-items: center;
}

.time__completo{
  width: 100%;
  max-width: 960px;
}




.seta__container{
  display: inline-block;
}
#arrow-prev, #arrow-next {
    padding: 15px;
    font-size: 2rem;
    color: rgb(198, 174, 253);
    
  }






 


  @media only screen and (min-width: 480px){
    h3{
      padding: 6px;
      margin: 6px;
    }

    .time__historia{
      font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: 0;
    }

  }


  @media only screen and (min-width: 768px){
   
    .historia__titulo{
      font-size: 3.5rem;
    }

    .historia__item{
      width: 90%;
      text-align: center;
      width: 90%;
      text-align: center;
      font-size: 2.5rem;
      margin: 4rem;

    }

    .time__titulo{
      font-size: 3.5rem;
    }

    
  .time__informacoes{
    font-size: 18px;
  }

    .box__img img {
      width: 70%;
    }

    .time__historia{
      font-size: 2rem;
      line-height: 2.3rem;
      letter-spacing: 0;
    }


    .box__img img  {
      display: block;
    margin-left: auto;
    margin-right: auto;
    }

  }

  @media only screen and (min-width: 960px){
    .historia__item{
      line-height: 5rem;
    }
  }

  


  @media only screen and (min-width: 1200px){
    .historia__titulo{
      font-size: 2.5rem;
      
}

.historia__item{
  font-size: 2rem;
  line-height: 3rem;
}

.time__titulo{
  font-size: 2.5rem;
}

.time__informacoes{
  margin: 4px;
}



.time__historia{
    width: 100%;
    line-height: 3rem;
    font-size: 1.5rem;
    padding: 11px;
}




.box__img img  {
  max-width: 270px;
  padding: 0px 6%;
  border-width: 0 1%;
  box-sizing: border-box;
}

.time{
  padding-bottom: 0%;
}

  }