html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  font-size: 10px;
}



.hitoria {
    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.historia__titulo {
    padding: 10px;
}

.historia__item{
    margin: 8px;
    padding: 5px;
    font-size: 17px;
    
}



 .time{
  background-color:  #E0B0FF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  
}

.time__titulo{
  color: white;
  padding: 10px;
    margin: 15px;
}



.time__historia{
  font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1.2rem;
line-height: 1.5rem;
text-align: center;
letter-spacing: -0.015rem;
color: rgba(255, 255, 255, 0.8);
width: 100%;
padding: 1rem;
}


.box__img img  {
  border-radius: 50%;
  text-align: center !important;
  width: 200px;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}

.box__img{ 
  text-align: center;

}

.time__individual{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 15px;
  width: 100%;
  align-items: center;
}

.time__completo{
  width: 100%;
  max-width: 960px;
}




.seta__container{
  display: inline-block;
}
#arrow-prev, #arrow-next {
    padding: 15px;
    font-size: 2rem;
    color: rgb(198, 174, 253);
    
  }






 


  @media only screen and (min-width: 480px){
    h3{
      padding: 6px;
      margin: 6px;
    }

  }


  @media only screen and (min-width: 768px){
   
    .historia__titulo{
      font-size: 25px;
    }

    .historia__item{
      width: 90%;
      text-align: center;

    }

    .time__titulo{
      font-size: 25px;
    }

    
  .time__informacoes{
    font-size: 18px;
  }

    .box__img img {
      width: 100%;
    }

    .time__historia{
      font-size: 18px;
    }


    .box__img img  {
      display: block;
    margin-left: auto;
    margin-right: auto;
    }

  }



  @media only screen and (min-width: 960px){
    .time__historia{
      width: 100%;
      text-align: center !important;
    }

  }


  @media only screen and (min-width: 1200px){
    .historia__titulo{
      font-size: 32px;
      margin: 20px;
      padding: 2rem;
}

.historia__item{
  font-size: 22px;
}

.time__titulo{
  font-size: 32px;
}

.time__informacoes{
  font-size: 23px;
}

.time__historia{
  width: 88%;
}
    }

    
 
