html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto";
  
}



.hitoria {
    display: flex;
    text-align: center;
    position: absolute;

}

.historia__titulo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.historia__item{
    margin: 8px;
    padding: 5px;
    width: 285px;
    height: 97px;
    left: 0px;
    /* top: -121px; */
    font-size: 17px;
    
}

 .time{
  background-color:  #E0B0FF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  
}

.time__titulo{
  color: white;
  padding: 10px;
    margin: 15px;
}


.box__img img  {
  border-radius: 50%;
  text-align: center !important;
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 10px;
}

.box__img{ 
  text-align: center;

}

.time__individual{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 15px;
  width: 100%;
}

.time__completo{
  width: 100%;
  max-width: 960px;
}




.seta__container{
  display: inline-block;
}
#arrow-prev, #arrow-next {
    padding: 15px;
    font-size: 2rem;
    color: rgb(198, 174, 253);
  }






  @media only screen and (min-width: 320px) {

  }
 
